@{

	Layout = "~/Views/Shared/_LayoutOwner.cshtml";

}
@if (TempData["upd"] != null)
{

	@if (TempData["upd"].ToString() == "1")
	{

		<div style="text-align:center; margin-bottom:0px" class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Account was updated successfully</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

		</div>

	}
}

@model Smsark.Models.Owner
<section class="ftco-section">
	<div class="container" style="padding: 0px 0px 0px 0px; ">

		<div class="row justify-content-center">
			<div class="col-lg-20">
				<div class="wrapper img" style="background-image: url(/images/rooms.jpg);">
					<div class="row" style="height:650px; align-content:center;justify-content:center">
						<div class="col-md-9 col-lg-7">
							<div class="profile-wrap w-100 p-md-5 p-4">
								<h3 class="mb-4" style="color:black">Edit your profile</h3>
								<div id="form-message-warning" class="mb-4"></div>
								<div id="form-message-success" class="mb-4" style="color:black">
								</div>
								<form method="post" asp-controller="Owner" asp-action="UserProfile">
									<div class="row">

										<div class="col-md-6">
											<div class="form-group">
												<label class="label" for="Name">Name</label>
												<input asp-for="Name" type="text" class="form-control" name="Name" id="Name" placeholder="Name">
											</div>
										</div>

										<br><br>
										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="PhoneNo">Phone Number</label>
												<input asp-for="PhoneNo" type="tel" class="form-control" name="Phone" id="Phone" placeholder="Phone Number">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="NationalId">National ID</label>
												<input asp-for="NationalId" type="text" class="form-control" name="NationalId" id="NationalId" placeholder="National ID">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="Gender">Gender</label>
												<select name="Gender" class="form-control" style="width:300px">
													<option selected disabled></option>
													<option>Male</option>
													<option>Female</option>

												</select>
											</div>
										</div>

										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="Email">Email Address</label>
												<input asp-for=" Email" type="email" class="form-control" name="Email" id="CustomerEmail" placeholder="Email">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="Password">Password</label>
												<input asp-for="Password" type="Password" class="form-control" name="Password" id="Password" placeholder="Password">
											</div>
										</div>


										<div class="col-md-12">
											<div class="form-group">
												<br>
												<input type="button" value="Update Account" onclick="document.getElementById('id02').style.display='block'">
												<input type="button" value="Delete Account" onclick="document.getElementById('id01').style.display='block'">
											</div>
										</div>
									</div>
									<div id="id02" class="modal">
										<span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
										<div class="modal-content" action="/action_page.php">
											<div class="container">
												<h1>Update Account</h1>
												<p>Are you sure you want to Update your account?</p>
												<div class="clearfix">
													<input type="button" onclick="document.getElementById('id02').style.display='none'" value="Update" class="cancelbtn">
													<input type="submit" asp-action="UserProfile" asp-controller="Owner" value="Update" class="deletebtn">
												</div>
											</div>
										</div>
										</div>
								</form>
								<form>
								<div id="id01" class="modal">
									<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
									<div class="modal-content" action="/action_page.php">
										<div class="container">
											<h1>Delete Account</h1>
											<p>Are you sure you want to delete your account?</p>
											<div class="clearfix">
												<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
													<input type="submit" asp-action="DeleteAccount" asp-controller="Owner" class="deletebtn" value="Delete">
											</div>
										</div>
									</div>
								</div>
								</form>
								</div>

</section>